.App{
  font-family: 'Crimson Text', serif;
  font-size: 17px;
}
.container-fluid,.row,.column,.form-group,.checkbox,.pager,ul{
  margin: 0;
  padding: 0;
}
.pager>li>a{
  padding: 2px 10px;
  font-size: 13px;
}
.root-showcase{
  width: 100vw;
  height: 100vh;
}
.root-sidebar{
  background: #1b95e0;
  height: 100vh;
  font-size: 90%;
  font-family: 'Bree Serif', serif;
}
.root-filter{
  position: relative;
  height: 9vh;
}
.total-pending{
  position: relative;
  height: 5vh;
  color: #1b95e0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
}
.app-header{
  background: lightgrey;
}
.app-header .glyphicon{
  padding-right: 5px;
}
.header-heading{
  font-size: 23px;
  color: #337ab7;
}
.app-header .nav-tabs{
  border-bottom: 0;
}
.sidebar-header{
  border-bottom: 1px solid black;
  padding: 8px 0 0 8px;
}
.logo{
  width: 80%;
}
.sidebar-navigation{
  margin-top: 30px;
}
.sidebar-navigation a{
  color: #eee;
}
.sidebar-navigation a:hover{
  color: #337ab7;
}
.sidebar-navigation a:active{
  color: #337ab7;
}
.sidebar-navigation span{
   margin-right: 10px;
}
.app-header{
 position: relative;     
 padding-top: 13px;
 width: 100%;
 display: flex;
 align-items: center; 
}
.root-body{
  margin: 0 5px 0 10px;
}
.catalogue-filter,.reconciliation-filter{
  margin: 10px 0 2px 0;
}
.reconciliation-filter .button{
  padding-right: 45px;
}
.pending-value{
  color: rgb(173, 15, 15);
}
.form-control,.input-group,#date-form{
  border-radius: 0;
}
.input-group-sm .form-control{
  border-radius: 0;
}
.input-group-sm .input-group-addon{
  border-radius: 0;
}
.reconciliation-showcase{
  margin: 0 0 0 5px;
  position: relative;
  height: 100%;
}
.folder-open{
  cursor: pointer;
}
.table-responsive{
  position: relative;
  width: 100%;
  height: 72vh;
  overflow-x: hidden;
}
.table-condensed>tbody>tr>td{
  font-size: 15px;
  font-family: 'Didact Gothic', sans-serif;
}
.table 
  thead tr:nth-child(1) th{
    background: lightgrey;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
.total{
  font-size: 1.6vw;
  padding-right: 14px;
  background: #186ca3;
  position: relative;
  height: 6vh;
  display: flex;
  align-items: center;
}
.product-pagination{
  background: #186ca3;
  position: relative;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-value{
  color: white;
  padding-left: 2%;
  font-size: 100%;
  object-fit: contain;
}
.payment-showcase a:hover{
  text-decoration-line: none;
  color: #1b95e0;
  cursor: pointer;
}
.modal-row{
  margin: 10px;
}
.modal-row-warning{
  color: orangered;
  padding-left: 20px;
}
.catalogue-showcase{
  position: relative;
  margin: 0 0 0 40px;
  height: 80vh;
  overflow-y: scroll;
}
.product-showcase{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,45%);
  grid-template-rows: auto;
  font-size: 13px;
  grid-row-gap: 30px;
  justify-content: space-around;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.product-details{
  position: relative;
  background: #fff;
  width: 100%;
  height: 30vh;
  border: 1px solid lightgray;
  z-index: 10;
  padding: 5px;
  border-radius: 4px;
  font-weight: 600;
  background-color: transparent;
  box-shadow: 2px 2px 30px lightgray;
}
.product-name{
  position: relative;
  height: 7vh;
  overflow-y: scroll;
}
.nickname{
  font-weight: lighter;
}
.product-name::-webkit-scrollbar{
  width: 1px;
}
.product-details h4{
  color: rgb(247, 141, 55);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.product-description{
  font-weight: lighter;
  position: relative;
  width: 100%;
  height: 13vh;
  margin: 15px 0 15px 0; 
  overflow: scroll;
}
.product-description::-webkit-scrollbar{
  width: 1px;
}
.product-image{
  position: relative;
  width: 100%;
  height: 20vh;
  object-fit: contain;
}
.edit-product{
  cursor: pointer;
  width: 50px;
  background: #1b95e0;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-weight: bold;
}
.verification-status{
  color: #4CAF50;
  font-size: 23px;
}
.product-modal{
  font-size: 14px;
}
.product-modal input,#formControlsTextarea{
  font-size: 13px;
}
.product-image-area{
  position: relative;
  width: 100%;
  height: 27vh;
  border: 1px solid lightgrey;
}
.choose-file{
  position: relative;
  width: 100%;
  font-size: 12px;
}
#formControlsTextarea{
  position: relative;
  height: 13vh;
}
.product-modal .form-group{
  margin: 5px 0 5px 0;
}
.product-modal h4{
  margin-left: 14px;
  font-weight: bold;
  color: #2184ff;
}
.product-modal-checkbox{
  position: relative;
  margin-top: 20px;
}
.product-modal-text{
  font-weight: bold;
  padding-left: 15px;
}
.product-image-area img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.select-search-box {
  width:100%;
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
}

  .select-search-box--multiple {
      border-radius: 4px;
      box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
      overflow: hidden;
  }

  .select-search-box::after {
      font-family: fontawesome;
      content:"\f078";
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      text-align: center;
      line-height: 40px;
      color: #222f3e;
      z-index: 1;
      font-size: 10px;
  }

  .select-search-box--multiple::after {
      content:"\f002";
  }

  .select-search-box--input::after {
      display: none !important;
  }

  .select-search-box__out {
      display: none;
  }

  .select-search-box__search {
      display: block;
      width: 100%;
      height: 6vh;
      border: none;
      background: none;
      outline: none;
      font-size:90%;
      padding: 0 20px;
      color: #222f3e;
      -webkit-appearance: none;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
      cursor: pointer;
      line-height: 50px;
      box-shadow: 1px 1px 5px lightgrey;
      border: 1px solid lightgrey;
  }

  input.select-search-box__search {
      line-height: 1;
  }

  .select-search-box--multiple .select-search-box__search {
      box-shadow: none;
  }

  .select-search-box--input .select-search-box__search {
      cursor: text;
  }

      .select-search-box__search:focus {
          cursor: text;
      }

      .select-search-box__search--placeholder {
          font-style: italic;
          font-weight: normal;
      }

  .select-search-box input::-webkit-input-placeholder {
      color:lightgray;
      font-weight: normal;
      font-size: 14px;
  }

  .select-search-box input::-moz-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
  }

  .select-search-box input:-moz-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
  }

  .select-search-box input:-ms-input-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
  }

  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
  }

  .select-search-box__select {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: #fff;
      border-radius: 4px;
      overflow: auto;
      box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
      z-index: 100;
      height: 40vh;
      overflow-y: scroll;
      width: 100%;
  }
  .select-search-box__select::-webkit-scrollbar{
    width: 4px;
  }
  .select-search-box__select::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  .select-search-box__select::-webkit-scrollbar-thumb{
    background: #888;
  }
  .select-search-box__select::-webkit-scrollbar-thumb:hover{
    background: #555;
  }
  

  .select-search-box--multiple .select-search-box__select {
      display: block;
      position: static;
      border-top: 1px solid #eee;
      border-radius: 0;
      box-shadow: none;
  }

      .select-search-box__select--display {
          display: block;
      }
      .select-search-box__option {
        font-size: 16px;
        font-weight: 400;
        color: #616b74;
        padding: 10px 20px;
        border-top: 1px solid #eee;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
      .select-search-box__option:first-child {
          border-top: none;
      }

      .select-search-box__option--hover, .select-search-box__option:hover {
          background: #f4f7fa;
      }

      .select-search-box__option--selected {
          background: #54A0FF;
          color: #fff;
          border-top-color: #2184ff;
      }

          .select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
              background: #2184ff;
              color: #fff;
              border-top-color: #2184ff;
          }

      .select-search-box__group {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid #eee;
          position: relative;
      }

      .select-search-box__group-header {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          padding: 0 10px;
          color: rgba(0, 0, 0, 0.5);
          font-size: 10px;
      }

#formControlsSelect{
  display: block;
      width: 100%;
      height: 6vh;
      border: none;
      background: none;
      outline: none;
      font-size: 100%;
      padding: 0 20px;
      color: #222f3e;
      -webkit-appearance: none;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
      cursor: pointer;
      box-shadow: 1px 1px 5px lightgrey;
      border: 1px solid lightgrey;
}
.date-form{
  z-index: 2;
}
.date-form .input-group-addon{
  box-shadow: 1px 1px 5px lightgrey;
}
.date-form .form-control{
  width: 92%;
  height: 6vh;
  box-shadow: 1px 1px 5px lightgrey;
}
.select-all{
  position: relative;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  padding-top: 4px;
  display: flex;
  justify-content: flex-start;
}
.select-all span{
  margin-left: 5px;
}

.total span{
  float:right;
  text-align: center;
  padding: 2px 80px 0 0;
}
.payment-details-modal table{
  margin-top: 50px;
}
.payment-details-modal .modal-body{
  background: #eee;
}
.payment-details-modal .modal-title{
  font-weight: bold;
}
.payment-details-modal .modal-dialog{
  width: 800px;
}
.select-product{
  height: 40px;
  z-index: 2;
  box-shadow: 1px 1px 5px lightgrey;
}
.product-edit-button.btn-toolbar{
  display: flex;
  justify-content: flex-end;
}
.payment-modal{
  font-size: 14px;
}
.no-match-found{
  position: absolute;
  top: 250px;
  left: 440px;
  color: rgb(216, 140, 0);
  font-weight: 600;
}







.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 250px;
  left: 500px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: gray;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.retailer-retailers{
  width: 32%;
}
.retailer-code{
  width: 15%;
  text-align: center;
}
.retailer-phone{
  width: 15%;
  text-align: left;
}
.retailer-transaction{
  width: 15%;
  text-align: center;
}
.retailer-amount{
  width: 20%;
  text-align: center;
}
.retailer-transition{
  width: 5%;
}
.no-match-found-product{
  position: absolute;
  top: 150px;
  left: 440px;
  color: rgb(216, 140, 0);
  font-weight: 600;
}
.transaction-status{
  width: 7%;
}
.transaction-retailer{
  width: 23%;
}
.transaction-retailercode{
  width: 20%;
  text-align: center;
}
.transaction-date{
  width: 20%;
  text-align: center;
}
.transaction-points .glyphicon{
  color: #1b95e0;
}
.transaction-points{
  text-align: center;
  width: 15%;
  position: relative;
}
.transaction-points .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: rgb(19, 18, 18);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 5%;
  margin-left: -60px;
}
.transaction-points .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.transaction-points:hover .tooltiptext {
  visibility: visible;
}

.transaction-discount{
   text-align: center;
   
}
.payment-details-id{
  position: relative;
}
.payment-details-id .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgb(19, 18, 18);
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 37%;
  margin-left: -60px;
  font-size: 12px;
}
.payment-details-id .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.payment-details-id:hover .tooltiptext {
  visibility: visible;
}
.payment-id{
  width: 15%;
}
.payment-retailername{
  width: 25%;
}
.payment-retailercode{
 width: 20%;
 text-align: center;
}
.payment-date{
  width: 20%;
  text-align: center;
}
.payment-amount{
  width: 15%;
  text-align: center;
}
.total-pending .tooltiptext {
  visibility: hidden;
  width: 10vw;
  font-size: 13px;
  background-color: rgb(19, 18, 18);
  color:white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 15%;
  margin-left: -60px;
}
.total-pending .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.total-pending:hover .tooltiptext {
  visibility: visible;
}
.retailer-transition .tooltiptext {
  visibility: hidden;
  width: 10vw;
  font-size: 13px;
  background-color: rgb(19, 18, 18);
  color:white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 20%;
  margin-left: -60px;
  white-space: pre-line;
}
.retailer-transition .tooltiptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.retailer-transition:hover .tooltiptext {
  visibility: visible;
}
.retailer-transition{
  cursor: pointer;
}



